<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Fauxnos Server (%h)</name>
  <service>
    <type>_fauxnos._tcp</type>
    <port>8080</port>
    <txt-record>version=1.0</txt-record>
    <txt-record>role=server</txt-record>
  </service>
</service-group>
