# /etc/systemd/system/spotifyd.service
[Unit]
Description=Spotifyd (with private D-Bus session)
After=network.target

[Service]
Type=simple
ExecStart=spotifyd --no-daemon
Restart=on-failure
# ensure it keeps running if the network flaps
RestartSec=5


[Install]
WantedBy=multi-user.target