[Unit]
Description=Snapclient for {CLIENT_ID}
After=pulseaudio.service
Wants=pulseaudio.service

[Service]
Type=simple
ExecStart=/usr/bin/snapclient --host fauxnos-server.local --port 1704 --hostID {CLIENT_ID} --player pulse:device=snapsink
Restart=always
RestartSec=5

[Install]
WantedBy=default.target