{
  "server": {
    "snapcast": {
      "host": "localhost",
      "port": 1705
    },
    "mqtt": {
      "broker_host": "localhost",
      "broker_port": 1883
    },
    "paths": {
      "fifo_base": "/tmp/snapfifo",
      "go_librespot_config_base": "~/.config/go-librespot"
    }
  },
  "clients": []
}
